---
- name: Build image
  hosts: all

  tasks:
    - name: Run build script
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}"
        cmd: |
          set -e
          set -x

          VERSION={{ version_openstack }}
          DISTRIBUTION=ubuntu-minimal
          DISTRIBUTION_RELEASE=jammy

          export CLOUD_INIT_DATASOURCES="ConfigDrive, OpenStack"
          export DIB_CLOUD_INIT_DATASOURCES="ConfigDrive, OpenStack"
          export DIB_DISTRIBUTION_MIRROR=https://ftp.uni-stuttgart.de/ubuntu/
          export DIB_LOCAL_ELEMENTS="haproxy-logrotate"
          export DIB_LOCAL_ELEMENTS_PATH="$(pwd)/elements/"

          BRANCH="stable/$VERSION"

          if [[ ! -e octavia ]]; then
              git clone https://github.com/openstack/octavia
          fi

          pushd octavia/diskimage-create

          bash diskimage-create.sh \
              -a amd64 \
              -b haproxy \
              -d $DISTRIBUTION_RELEASE \
              -g $BRANCH \
              -i $DISTRIBUTION \
              -m \
              -o octavia-amphora-haproxy-$VERSION.qcow2 \
              -s 2 \
              -t qcow2

          qemu-img info octavia-amphora-haproxy-$VERSION.qcow2
          sha256sum octavia-amphora-haproxy-$VERSION.qcow2 > octavia-amphora-haproxy-$VERSION.qcow2.CHECKSUM

          echo $(date +%Y-%m-%d) octavia-amphora-haproxy-$VERSION.$(date +%Y%m%d).qcow2 > last-$VERSION
          cp octavia-amphora-haproxy-$VERSION.qcow2 octavia-amphora-haproxy-$VERSION.$(date +%Y%m%d).qcow2
          sha256sum octavia-amphora-haproxy-$VERSION.$(date +%Y%m%d).qcow2 > octavia-amphora-haproxy-$VERSION.$(date +%Y%m%d).qcow2.CHECKSUM

          popd

    - name: Install rclone
      become: true
      ansible.builtin.package:
        name: rclone
        state: present
      when: upload_image | bool

    - name: Run upload
      ansible.builtin.shell:
        executable: /bin/bash
        chdir: "{{ zuul.project.src_dir }}/octavia/diskimage-create"
        cmd: |
          rclone copyto octavia-amphora-haproxy-{{ version_openstack }}.qcow2 s3:osism/openstack-octavia-amphora-image/octavia-amphora-haproxy-{{ version_openstack }}.qcow2
          rclone copyto octavia-amphora-haproxy-{{ version_openstack }}.qcow2.CHECKSUM s3:osism/openstack-octavia-amphora-image/octavia-amphora-haproxy-{{ version_openstack }}.qcow2.CHECKSUM
          rclone copyto octavia-amphora-haproxy-{{ version_openstack }}.$(date +%Y%m%d).qcow2 s3:osism/openstack-octavia-amphora-image/octavia-amphora-haproxy-{{ version_openstack }}.$(date +%Y%m%d).qcow2
          rclone copyto octavia-amphora-haproxy-{{ version_openstack }}.$(date +%Y%m%d).qcow2.CHECKSUM s3:osism/openstack-octavia-amphora-image/octavia-amphora-haproxy-{{ version_openstack }}.$(date +%Y%m%d).qcow2.CHECKSUM
          rclone copyto last-{{ version_openstack }} s3:osism/openstack-octavia-amphora-image/last-{{ version_openstack }}
      environment:
        RCLONE_CONFIG_S3_TYPE: s3
        RCLONE_CONFIG_S3_PROVIDER: Ceph
        RCLONE_CONFIG_S3_ENDPOINT: https://nbg1.your-objectstorage.com
        RCLONE_CONFIG_S3_ACCESS_KEY_ID: "{{ secret.ACCESS_KEY | trim }}"
        RCLONE_CONFIG_S3_SECRET_ACCESS_KEY: "{{ secret.SECRET_KEY | trim }}"
        RCLONE_CONFIG_S3_ACL: public-read
      when: upload_image | bool
      no_log: true
