---
- name: Cleanup images
  hosts: all

  tasks:
    - name: Install rclone
      become: true
      ansible.builtin.apt:
        name: rclone
        state: present
        update_cache: true

    - name: Cleanup 2024.2 images
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          rclone delete s3:osism/openstack-octavia-amphora-image/ --min-age 14d --include "octavia-amphora-haproxy-2024.2.*.qcow2"
      environment:
        RCLONE_CONFIG_S3_TYPE: s3
        RCLONE_CONFIG_S3_PROVIDER: Other
        RCLONE_CONFIG_S3_ENDPOINT: https://nbg1.your-objectstorage.com
        RCLONE_CONFIG_S3_ACCESS_KEY_ID: "{{ secret.ACCESS_KEY | trim }}"
        RCLONE_CONFIG_S3_SECRET_ACCESS_KEY: "{{ secret.SECRET_KEY | trim }}"
      no_log: true

    - name: Cleanup 2025.1 images
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          rclone delete s3:osism/openstack-octavia-amphora-image/ --min-age 14d --include "octavia-amphora-haproxy-2025.1.*.qcow2"
      environment:
        RCLONE_CONFIG_S3_TYPE: s3
        RCLONE_CONFIG_S3_PROVIDER: Other
        RCLONE_CONFIG_S3_ENDPOINT: https://nbg1.your-objectstorage.com
        RCLONE_CONFIG_S3_ACCESS_KEY_ID: "{{ secret.ACCESS_KEY | trim }}"
        RCLONE_CONFIG_S3_SECRET_ACCESS_KEY: "{{ secret.SECRET_KEY | trim }}"
      no_log: true

    - name: Cleanup 2025.2 images
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          rclone delete s3:osism/openstack-octavia-amphora-image/ --min-age 14d --include "octavia-amphora-haproxy-2025.2.*.qcow2"
      environment:
        RCLONE_CONFIG_S3_TYPE: s3
        RCLONE_CONFIG_S3_PROVIDER: Other
        RCLONE_CONFIG_S3_ENDPOINT: https://nbg1.your-objectstorage.com
        RCLONE_CONFIG_S3_ACCESS_KEY_ID: "{{ secret.ACCESS_KEY | trim }}"
        RCLONE_CONFIG_S3_SECRET_ACCESS_KEY: "{{ secret.SECRET_KEY | trim }}"
      no_log: true
